/* ---------------------- */
/* root ----------------- */
:root {

  /* color */
  --clr-black: 0, 0%, 0%;
  --clr-white: 0, 100%, 100%;
  --clr-dark: 0, 0%, 15%;
  --clr-light: 0, 0%, 95%;
  --clr-primary: 5, 92%, 77%;
  --clr-primary-dark: 6, 43%, 61%;
  --clr-primary-light: 5, 80%, 92%;
  --clr-secondary: 216, 100%, 46%;
  --clr-secondary-dark: 216, 100%, 21%;
  --clr-secondary-light: 216, 83%, 61%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-roboto: 'Roboto', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ------------------- */
/* Reset               */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ---------------------- */
/* general -------------- */

body {
  cursor: url(images/cursor/normal_select.gif), auto;
}

* > button {
  user-select: none;
}
* > div {
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
  min-height: 100vh;
}

/* ---------------------- */
/* left container ------- */
.container .clicker {
  min-width: 21rem;
  max-width: 25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .clicker .header {
  min-height: 14rem;
  width: 100%;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .clicker .header h1 {
  font-size: 3rem;
}

.container .clicker .header h3 {
  font-size: 1.5rem;
}

.container .clicker .header p span {
  font-weight: bold;
}

.container .clicker .image {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .1s;
  transform: scale(1);
}

#bigCard {
  background-image: url('images/card/poring.png');
  background-size: contain;
  position: relative;
  display: block;
  transition: all .1s ease-in-out;
  height: 400px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1);
}

#bigCard:hover {
  transform: scale(1.05);
}

#bigCard:active {
  transform: scale(.99);
}

.container .clicker .number {
  z-index: 5;
  user-select: none;
  position: absolute;
  background: #fff;
  padding: .3rem .5rem;
  border-radius: .5rem;
}

/* ---------------------- */
/* mid container -------- */
.container .content {
  min-width: 37rem;
  height: 100vh;
  margin: 0 .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

/* header */
.container .content .header {
  max-height: 14rem;
  width: 100%;
  background: #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container .content .header .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 14rem;
  padding: 1rem;
}

.container .content .header .row button {
  height: 4rem;
  width: 8rem;
  margin: 1rem 0;
}

.container .content .header .row img {
  width: 100%;
}

.container .content .header .row .dropdown {
  position: relative;
}

.container .content .header .row .dropdown .dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-top: -1rem;
  transform: translateY(-1rem);
  transition: .2s;
}

.container .content .header .row .dropdown .dropdown-content button {
  margin: 0;
  display: block;
}

.container .content .header .row .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* buildings */
.container .content .buildingVisual {
  height: 100%;
  margin: .5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.container .content .buildingVisual .box {
  min-width: 37rem;
  height: 9rem;
  margin-bottom: .5rem;
}

.container .content .buildingVisual .box.poring {
  background-image: url(images/bg/poring.png);
}

.container .content .buildingVisual .box.drops {
  background-image: url(images/bg/drops.png);
}

.container .content .buildingVisual .box.poporing {
  background-image: url(images/bg/poporing.png);
}

.container .content .buildingVisual .box.marin {
  background-image: url(images/bg/marin.png);
}

.container .content .buildingVisual .box.ghostring {
  background-image: url(images/bg/ghostring.png);
}

/* ---------------------- */
/* store ---------------- */
.container .store {
  width: 22rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container .store h2 {
  font-size: 1.5rem;
}

/* enhancements */
.container .store .enhancements {
  width: 100%;
  min-height: 6.25rem;
  background-color: #ccc;
  padding: .5rem;
  margin: 0 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.container .store .enhancements div {
  width: 4.5rem;
  height: 4.5rem;
  margin: .3rem .375rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  transition: .2s;
}

.container .store .enhancements div:hover {
  transform: scale(1.1);
}

/* mods */
.container .store .creator .mods {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container .store .creator .mods button {
  letter-spacing: .1rem;
  font-size: .8rem;
  text-transform: uppercase;
  width: 5.3rem;
  height: 2.2rem;
  margin: .2rem;
  border: none;
  opacity: .5;
  transition: .5s;
}

.container .store .creator .mods button.active,
.container .store .creator .mods button:hover {
  opacity: 1;
  border: .1rem solid black;
}

/* building */
.container .store .buildings {
  display: flex;
  flex-direction: column;
}

.container .store .buildings .building {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 22rem;
  background: #ccc;
  padding: .5rem;
  margin-bottom: .5rem;
  cursor: url(images/cursor/link_select.gif), auto;
  transition: .2s;
}

.container .store .buildings .building:hover {
  transform: scale(1.05);
  z-index: 1;
  outline: .1rem solid black;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}

.container .store .buildings .building .m-image {
  width: 3rem;
}

.container .store .buildings .building .monster {
  width: 15rem;
}

.container .store .buildings .building .monster h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.container .store .buildings .building .monster .m-cost {}

.container .store .buildings .building h4 {
  position: absolute;
  right: .8rem;
  margin-bottom: 0;
}

/* achievements */
.container .achievements {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container .achievements div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: #fff;
  outline: 1px solid black;
  margin: 0 .5rem;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
